<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Amare Padel Academy</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-icons.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/magnific-popup.css" />

    <link href="css/aos.css" rel="stylesheet" />

    <link href="css/style.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>

  <body>
    <main>
      <section class="hero" id="hero">
        <div class="heroText">
          <h3
            class="text-secondary-white-color"
            data-aos="fade-up"
            data-aos-delay="1000"
          >
            Welcome to
          </h3>
          <h1 class="text-white" data-aos="zoom-in" data-aos-delay="800">
            AMARE PADEL ACADEMY
          </h1>
          <h5
            class="text-secondary-white-color"
            data-aos="fade-up"
            data-aos-delay="1000"
          >
            member of AMARE SPORT GROUP
          </h5>
        </div>

        <div class="videoWrapper">
          <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="videos/tenis.mp4" type="video/mp4" />

            Your browser does not support the video tag.
          </video>
        </div>

        <div class="overlay"></div>
      </section>

      <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img
              src="assets/imgs/placeholder.svg"
              alt="Nomad Force Logo"
              style="height: 40px"
            />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <!-- ms-auto to align items to the right -->
              <li class="nav-item">
                <a class="nav-link" href="#hero">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#about-us">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#goals">Goals</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#program">Programs</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#team">Coach</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#portfolio">Portfolio</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="about-us" id="about-us">
        <div class="container">
          <div class="about-content">
            <div class="image-container">
              <img
                src="assets/imgs/overview-img.jpg"
                alt="About Us Image"
                class="about-image"
              />
            </div>
            <div class="text-container">
              <h2 class="title">About Us</h2>
              <p class="subtitle">We proudly present</p>
              <p class="description">
                A set of programs designed to guide our students through a full
                year of learning, growth, and fun on the court. These programs
                are meticulously structured to cater to both kids and adults,
                adapting to their specific needs based on age and experience
                level. The main goal is to accompany each player in their
                progress, from the first steps to advanced levels.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="goals" class="ftco-section ftco-no-pb">
        <div class="container">
          <div class="row justify-content-center">
            <!-- Title -->
            <div
              class="col-lg-12 text-center wow fadeInUp"
              data-wow-duration="500ms"
            >
              <h2 class="text-center mb-5 mt-3">Our Goals</h2>
            </div>
          </div>
          <div class="row">
            <!-- First Column (Left) -->
            <div class="col-md-6 mb-4">
              <div
                class="resume-wrap ftco-animate p-4 bg-light rounded shadow-sm"
              >
                <h3 class="text-heading">OUR VISION</h3>
                <p class="mt-3">
                  Best Padel Academy in Asia & Encourage more people to play
                  Padel.
                </p>
              </div>
              <div
                class="resume-wrap ftco-animate p-4 bg-light rounded shadow-sm mt-4"
              >
                <h3 class="text-heading">OUR MISSION</h3>
                <ul class="mt-3">
                  <li>Create good programs & coaches for the academy</li>
                  <li>
                    Produce more Pro Padel players from Asia, starting from
                    Junior
                  </li>
                  <li>Promote all news about Padel to everyone</li>
                  <li>Encourage many stakeholders to develop Padel together</li>
                </ul>
              </div>
            </div>

            <!-- Second Column (Right) -->
            <div class="col-md-6 mb-4">
              <div
                class="resume-wrap ftco-animate p-4 bg-light rounded shadow-sm"
              >
                <h3 class="text-heading">KEY SUCCESS FACTOR</h3>
                <ul class="mt-3">
                  <li>We are the only Padel Academy in Asia</li>
                  <li>
                    Our best Coach team is the best player & coach in Asia
                  </li>
                  <li>Our system & management team is very strong</li>
                </ul>
              </div>
              <div
                class="resume-wrap ftco-animate p-4 bg-light rounded shadow-sm mt-4"
              >
                <h3 class="text-heading">OUR SERVICES</h3>
                <ul class="mt-3">
                  <li>PADEL ACADEMY PROGRAM</li>
                  <li>PADEL COACH CERTIFICATION</li>
                  <li>TOURNAMENT / PADEL ACTIVITY ORGANIZER</li>
                  <li>PADEL PLAYER AND COACH AGENCY</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="program" class="program section">
        <div class="container">
          <div class="row justify-content-center">
            <!-- Title -->
            <div
              class="col-lg-12 text-center wow fadeInUp"
              data-wow-duration="500ms"
            >
              <h2 class="text-center mb-5">ACADEMY PROGRAM</h2>
            </div>
          </div>

          <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
            <!-- Program Image -->
            <div class="col-lg-5">
              <div class="program-img">
                <img
                  src="assets/imgs/trainer-img1.jpg"
                  class="img-fluid rounded shadow"
                  alt="Program Image"
                />
              </div>
            </div>

            <div class="col-lg-7">
              <!-- Tabs Navigation -->
              <ul class="nav nav-pills mb-4" id="program-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link active"
                    id="program-tab1"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="program-tab-content1"
                    aria-selected="true"
                    >Kids Programs</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="program-tab2"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="program-tab-content2"
                    aria-selected="false"
                    >Adult Programs</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="program-tab3"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="program-tab-content3"
                    aria-selected="false"
                    >Competition Programs</a
                  >
                </li>
              </ul>
              <!-- End Tabs Navigation -->

              <!-- Tab Content -->
              <div class="tab-content" id="program-tab-content">
                <!-- Kids Programs -->
                <div
                  class="tab-pane fade show active"
                  id="program-tab-content1"
                  role="tabpanel"
                  aria-labelledby="program-tab1"
                >
                  <p class="fst-italic mb-4">
                    For the little ones, we offer three levels designed to
                    foster a love of padel from an early age.
                  </p>
                  <ul>
                    <li>
                      <strong>Mini-Padel (4-6 years):</strong> An introduction
                      to the sport, combining play with learning through soft
                      balls and mini-rackets.
                    </li>
                    <li>
                      <strong>Kids Padel (7-10 years):</strong> Focused on
                      developing technical skills with an emphasis on fun and
                      motivation.
                    </li>
                    <li>
                      <strong>Kids Padel (11-14 years):</strong> Perfecting
                      technique and learning to apply basic strategies in real
                      matches.
                    </li>
                  </ul>
                </div>

                <!-- Adult Programs -->
                <div
                  class="tab-pane fade"
                  id="program-tab-content2"
                  role="tabpanel"
                  aria-labelledby="program-tab2"
                >
                  <p class="fst-italic mb-4">
                    For adults, we offer four levels designed to cater to both
                    beginners and advanced players.
                  </p>
                  <ul>
                    <li>
                      <strong>Beginners:</strong> Ideal for those just starting
                      out. Focus on the fundamentals of holding the paddle and
                      basic strokes.
                    </li>
                    <li>
                      <strong>Bronze:</strong> Improving on fundamentals with an
                      introduction to tactical play.
                    </li>
                    <li>
                      <strong>Silver:</strong> Taking your skills to the next
                      level with advanced techniques and strategies.
                    </li>
                    <li>
                      <strong>Gold:</strong> Designed for high-performance
                      players aiming to refine advanced techniques and
                      strategies.
                    </li>
                  </ul>
                </div>

                <!-- Competition Programs -->
                <div
                  class="tab-pane fade"
                  id="program-tab-content3"
                  role="tabpanel"
                  aria-labelledby="program-tab3"
                >
                  <p class="fst-italic mb-4">
                    Our competition programs offer tailored training that
                    emphasizes technical, tactical, and physical development.
                  </p>
                  <ul>
                    <li>
                      <strong>Physical Preparation:</strong> 3 to 5 days per
                      week, depending on age group.
                    </li>
                    <li>
                      <strong>Match Analysis:</strong> Analyzing games to
                      improve tactical understanding.
                    </li>
                    <li>
                      <strong>Nutrition:</strong> Specialized nutrition plans
                      starting at the age of 4.
                    </li>
                    <li>
                      <strong>Theory:</strong> 2-3 hours of game theory per
                      week.
                    </li>
                    <li>
                      <strong>Match analysis :</strong> Analyze matches to
                      better understand the tactics when playing the matches
                      himself.
                    </li>

                    <li>
                      <strong>Nutrition :</strong> You can start having
                      controlled and competition-oriented nutrition from 4 years
                      of age.
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End Tab Content -->
            </div>
          </div>
        </div>
      </section>

      <section id="material" class="material section">
        <div class="container">
          <div class="col-lg-12">
            <div
              class="title text-center wow fadeInUp"
              data-wow-duration="500ms"
            >
              <h2 class="title mb-5 mt-3">MATERIAL FOR CLASSES</h2>
            </div>
          </div>
          <div class="material-wrapper">
            <div class="material-item" data-aos="fade-up" data-aos-delay="100">
              <div class="material-content">
                <img
                  src="assets/imgs/basket.png"
                  alt="Pengurus Harian"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>BASKET</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->

            <div class="material-item" data-aos="fade-up" data-aos-delay="200">
              <div class="material-content">
                <img
                  src="assets/imgs/balls.png"
                  alt="Kesejahteraan Sosial"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>BALLS</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->

            <div class="material-item" data-aos="fade-up" data-aos-delay="300">
              <div class="material-content">
                <img
                  src="assets/imgs/balls.png"
                  alt="Sumber Daya Manusia"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>SOFT BALLS FOR CHILDREN</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->

            <div class="material-item" data-aos="fade-up" data-aos-delay="400">
              <div class="material-content">
                <img
                  src="assets/imgs/4.png"
                  alt="pikis"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>PIKIS (4PER COACH)</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->

            <div class="material-item" data-aos="fade-up" data-aos-delay="500">
              <div class="material-content">
                <img
                  src="assets/imgs/flor.png"
                  alt="Bakat dan Minat"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>FLOOR MARKINGS</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->

            <div class="material-item" data-aos="fade-up" data-aos-delay="600">
              <div class="material-content">
                <img
                  src="assets/imgs/cones.png"
                  alt="Komunikasi Dan Informasi"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>CONES</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->

            <div class="material-item" data-aos="fade-up" data-aos-delay="600">
              <div class="material-content">
                <img
                  src="assets/imgs/agiity.png"
                  alt="Komunikasi Dan Informasi"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>AGILITY LADER</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->

            <div class="material-item" data-aos="fade-up" data-aos-delay="600">
              <div class="material-content">
                <img
                  src="assets/imgs/gawang.png"
                  alt="Komunikasi Dan Informasi"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>GOALS</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->

            <div class="material-item" data-aos="fade-up" data-aos-delay="600">
              <div class="material-content">
                <img
                  src="assets/imgs/6.png"
                  alt="Komunikasi Dan Informasi"
                  class="material-icon"
                />
                <div class="material-text">
                  <h3>ELASTIC ROPE (APPROX. 15M)</h3>
                </div>
              </div>
            </div>
            <!-- End Material Item -->
          </div>
        </div>
      </section>

      <section
        id="call-to-action"
        class="call-to-action section accent-background"
      >
        <div class="container">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-xl-10">
              <div class="cta-content text-center">
                <h3 class="cta-title">PADEL COACH CERTIFICATION</h3>
                <p class="cta-description">
                  Becoming a padel instructor is an excellent opportunity for
                  those passionate about the sport who wish to share their
                  knowledge and skills with others. A padel instructor course
                  typically covers a range of important topics, from technique
                  and tactics to pedagogy and effective communication.
                </p>
                <p class="cta-description">
                  You will learn how to plan and organize training sessions
                  tailored to different skill levels, as well as how to identify
                  and correct common player errors. Additionally, these courses
                  include aspects of group management and motivation, essential
                  for creating a positive learning environment. Upon completion
                  of the course, you will be not only certified but also
                  prepared to inspire and guide others on their path to padel
                  mastery.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="portfolio section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- section title -->
              <div class="col-lg-12">
                <div
                  class="title text-center wow fadeInUp"
                  data-wow-duration="500ms"
                >
                  <h2 class="title mb-5 mt-5">Portfolio</h2>
                </div>
              </div>
              <!-- /section title -->
            </div>
            <!-- /end col-lg-12 -->
          </div>
          <!-- end row -->

          <div class="row mx-auto">
            <div
              class="filtr-item col-lg-4 col-md-6"
              data-category="development"
            >
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(1).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(1).jpg"
                    data-lightbox="image-1"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
            <div class="filtr-item col-lg-4 col-md-6" data-category="design">
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(2).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(2).jpg"
                    data-lightbox="image-2"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
            <div
              class="filtr-item col-lg-4 col-md-6"
              data-category="design, development"
            >
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(3).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(3).jpg"
                    data-lightbox="image-3"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
            <div
              class="filtr-item col-lg-4 col-md-6"
              data-category="photography, development"
            >
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(4).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(4).jpg"
                    data-lightbox="image-4"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
            <div class="filtr-item col-lg-4 col-md-6" data-category="design">
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(5).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(5).jpg"
                    data-lightbox="image-5"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
            <div
              class="filtr-item col-lg-4 col-md-6"
              data-category="photography"
            >
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(6).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(6).jpg"
                    data-lightbox="image-6"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
            <div class="filtr-item col-lg-4 col-md-6" data-category="design">
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(7).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(7).jpg"
                    data-lightbox="image-7"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
            <div class="filtr-item col-lg-4 col-md-6" data-category="design">
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(8).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(8).jpg"
                    data-lightbox="image-8"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
            <div
              class="filtr-item col-lg-4 col-md-6"
              data-category="photography, development"
            >
              <div class="portfolio-block">
                <img src="assets/imgs/portfolio/(9).jpg" alt="" />
                <div class="caption">
                  <a
                    class="search-icon image-popup"
                    data-effect="mfp-with-zoom"
                    href="assets/imgs/portfolio/(9).jpg"
                    data-lightbox="image-9"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <h4><a href="">Lorem</a></h4>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam, nemo!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container -->
      </section>

      <section id="team" class="team section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2 class="title">Our Coach</h2>
          <p>Meet our amazing Coaches.</p>
        </div>
        <!-- End Section Title -->

        <!-- Swiper Container -->
        <div class="container">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <!-- Team Member 1 -->
              <div class="swiper-slide">
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="assets/imgs/trainer-img1.jpg"
                      class="img-fluid"
                      alt="Walter White"
                    />
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>CTO</span>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <!-- Team Member 2 -->
              <div class="swiper-slide">
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="assets/imgs/trainer-img2.jpg"
                      class="img-fluid"
                      alt="Sarah Jhonson"
                    />
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Sarah Jhonson</h4>
                    <span>CTO</span>
                    <span>Product Manager</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <!-- Team Member 3 -->
              <div class="swiper-slide">
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="assets/imgs/trainer-img3.jpg"
                      class="img-fluid"
                      alt="William Anderson"
                    />
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <span>Chief Technology Officer</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <!-- Team Member 4 -->
              <div class="swiper-slide">
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="assets/imgs/trainer-img2.jpg"
                      class="img-fluid"
                      alt="Amanda Jepson"
                    />
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Amanda Jepson</h4>
                    <span>CTO</span>
                    <span>Accountant</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <!-- Team Member 1 -->
              <div class="swiper-slide">
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="assets/imgs/trainer-img3.jpg"
                      class="img-fluid"
                      alt="Walter White"
                    />
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>CTO</span>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <!-- Team Member 1 -->
              <div class="swiper-slide">
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="assets/imgs/trainer-img1.jpg"
                      class="img-fluid"
                      alt="Walter White"
                    />
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>CTO</span>
                    <span>Chief Executive Officer</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->
            </div>
            <!-- End swiper-wrapper -->

            <!-- Swiper Pagination and Navigation buttons -->
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <!-- End swiper-container -->
        </div>
      </section>

      <section id="contact-us" class="contact-us section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="title text-center wow fadeIn"
                data-wow-duration="500ms"
              >
                <h2 class="title mb-5">
                  Get In <span class="color">Touch</span>
                </h2>
              </div>
            </div>

            <!-- Contact Details -->
            <div
              class="contact-info col-lg-6 wow fadeInUp"
              data-wow-duration="500ms"
            >
              <h3>Contact Details</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam,
                vero, provident, eum eligendi blanditiis ex explicabo vitae
                nostrum facilis asperiores dolorem illo officiis ratione vel
                fugiat dicta laboriosam labore adipisci.
              </p>
              <div class="contact-details">
                <div class="con-info clearfix">
                  <i class="ti-location-pin"></i>
                  <span>Semarang</span>
                </div>

                <div class="con-info clearfix">
                  <i class="ti-mobile"></i>
                  <span>Phone: +62 81234567890</span>
                </div>

                <div class="con-info clearfix">
                  <i class="ti-email"></i>
                  <span>Email: example@gmail.com</span>
                </div>
              </div>
            </div>

            <!-- Contact Form -->
            <div
              class="contact-form col-lg-6 mt-4 mt-lg-0 wow fadeInUp"
              data-wow-duration="500ms"
              data-wow-delay="300ms"
            >
              <form
                id="contact-form"
                method="post"
                action="sendmail.php"
                role="form"
              >
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Your Name"
                    class="form-control"
                    name="name"
                    id="name"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="email"
                    placeholder="Your Email"
                    class="form-control"
                    name="email"
                    id="email"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Subject"
                    class="form-control"
                    name="subject"
                    id="subject"
                  />
                </div>

                <div class="form-group">
                  <textarea
                    rows="6"
                    placeholder="Message"
                    class="form-control"
                    name="message"
                    id="message"
                  ></textarea>
                </div>

                <div id="cf-submit">
                  <input
                    type="submit"
                    id="contact-submit"
                    class="btn btn-transparent"
                    value="Submit"
                  />
                </div>
              </form>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->

        <!-- Google Map -->
        <div class="google-map mt-5">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.910836907539!2d110.42073637399831!3d-6.9862436930146945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708ba57a60efe3%3A0x2972b3bc54d632ea!2sAmare%20Media%20Group!5e1!3m2!1sid!2sid!4v1737787058342!5m2!1sid!2sid"
            width="100%"
            height="100%"
            style="border: 0; border-radius: 15px"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </section>
    </main>

    <div class="logos">
      <div class="logos-slide">
        <img src="./logos/3m.svg" />
        <img src="./logos/barstool-store.svg" />
        <img src="./logos/budweiser.svg" />
        <img src="./logos/buzzfeed.svg" />
        <img src="./logos/forbes.svg" />
        <img src="./logos/macys.svg" />
        <img src="./logos/menshealth.svg" />
        <img src="./logos/mrbeast.svg" />
      </div>
    </div>

    <footer id="footer-section" class="bg-one">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
          <div class="col-lg-12">
            <!-- Footer Social Links -->
            <div class="footer-social-icon">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href=""><i class="bi bi-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="bi bi-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="bi bi-youtube"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="bi bi-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </li>
              </ul>
            </div>
            <!--/. End Footer Social Links -->

            <!-- copyright -->
            <div class="footer-copyright text-center">
              <a href="index.html">
                <img
                  src="assets/imgs/placeholder.svg"
                  alt="logo"
                  class="footer-logo"
                />
              </a>

              <p class="mt-3">
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                . All Rights Reserved. <br />
                Designed &amp; Developed by
                <a href="#" target="_blank">zezqi</a>.
              </p>
            </div>
            <!-- /copyright -->
          </div>
          <!-- end col lg 12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <script src="js/scrollspy.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
